
@model DigitalRetailers.Models.User;
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Template</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="~/images/login.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <img src="~/images/logo.svg" alt="logo" class="logo">
                            </div>
                            <p class="login-card-description">Sign into your account</p>
                            <p>@ViewBag.Error</p>
                            <form method="post" asp-controller="Login" asp-action="login">
                                <div class="form-group">
                                    <label for="userName" class="sr-only">User Name</label>
                                    <input type="text" asp-for="userName" name="userName" id="username" class="form-control" placeholder="">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" name="password" asp-for="password" class="form-control" placeholder="***********">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="userType" class="sr-only">User Type</label>
                                    <input type="text" name="userType" asp-for="userType" class="form-control" placeholder="User Type">
                                </div>
                                <button class="btn btn-block login-btn mb-4" type="submit" value="Login">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
