@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <img src="~/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg" height="400" width="700" />
    </div>
    <main class="px-3 text-center">
        <h1>Digital Retailers</h1>
        <p class="lead">Digital Retailers is a one stop place for buying your favourite laptops.</p>
        <p class="lead">
            <a asp-action="Index" asp-controller="Login" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Get Started</a>
        </p>
    </main>
</div>