
@{
    ViewData["Title"] = "EmptyCart";
}



    <div class="container justify-content-center" >
        <img src="~/images/empty-cart.png" alt="Empty Cart" />
    </div>
    <p align="center"><a class="btn btn-primary m-2" asp-action="Index" asp-controller="Shopping">Continue Shopping</a></p>


